.menu-container{

	-moz-box-shadow: 2px 2px 10px 2px #666666;

	-o-box-shadow: 2px 2px 10px 2px #666666;

/*	-webkit-box-shadow: 2px 2px 10px 2px #666666; Below changes were done as per ITO defect 214 */

	-webkit-box-shadow: 2px 2px 10px #666666;

	box-shadow: 2px 2px 10px 2px #666666;

    -moz-border-radius: 0 0 0 0;

	

	border: 1px solid #666666;

    color: #000;

    overflow: hidden;

    padding: 0;

    position: absolute;

	font-size: 8pt;

	font-weight: normal;

}



.menu-container-title{

	background: none repeat scroll 0 0 #3398CC;

    border: 2px solid #358AB3;

    height: auto;

    padding: 0.5em 1em 0.3em;

    position: relative;

    color: #FFF;

    font-weight: bold;

}



.sf-vertical.jfpw-landing-menu {

	padding-bottom: 3px;

	background: url('/JFP/images/widgets/jfpw-menu-white-back.png') repeat transparent;

	font-size: 8pt;

	font-weight: normal;

	 

}

.sf-vertical.jfpw-landing-menu, .sf-vertical.jfpw-landing-menu li {

    width: 17em;

    margin-bottom: 0;

}

.sf-menu.jfpw-landing-menu a{

	color: #000000 !important;

    border-left: none;

    border-top: 1px solid #DADBDD;

    padding: 0.75em 1em;

    margin:	0 1em;

    text-decoration: none;

    background: url('/JFP/images/widgets/submenu_arrow.png') no-repeat 0% 50% transparent;

 }

.sf-menu.jfpw-landing-menu li{

	background: none;

}

.sf-menu.jfpw-landing-menu li:hover, .sf-menu.jfpw-landing-menu li.sfHover{

	border-top: 	1px solid #DADBDD;

	border-bottom: 	1px solid #DADBDD;

	margin-bottom:	-1px;

	background: url('/JFP/images/widgets/jfpw-menu-item-hoover.png') repeat-x bottom #FFF;

}

.sf-menu.jfpw-landing-menu li:hover a, .sf-menu.jfpw-landing-menu li.sfHover a

{

	border-top: 	none;

}

.sf-menu.jfpw-landing-menu li:hover, .sf-menu.jfpw-landing-menu li.sfHover,

.sf-menu.jfpw-landing-menu a:hover, .sf-menu.jfpw-landing-menu a:active {

	outline:	none;

	font-weight: normal; 

}

