.tablesorter.jfpw-lightgrid { background-color: #CDCDCD; width: 100%; text-align: left;}

.tablesorter.jfpw-lightgrid thead tr th, .tablesorter.jfpw-lightgrid tfoot tr th { background-color: #F7F7F7; padding: 4px; border-bottom: 1px solid #DADADA; border-top: 1px solid #DADADA; }

.tablesorter.jfpw-lightgrid thead tr .header { background: url("/JFP/images/widgets/jfpw-lightgrid-both.gif") no-repeat center right #F7F7F7;	cursor: pointer; }

.tablesorter.jfpw-lightgrid tbody td {color: #3D3D3D; padding: 10px 4px; background-color: #FFF; vertical-align: top;}

.tablesorter.jfpw-lightgrid tbody tr.even td {	background:none #F3F3F3; }

.tablesorter.jfpw-lightgrid thead tr .headerSortUp   { background: url("/JFP/images/widgets/jfpw-lightgrid-asc.gif") no-repeat center right #FFFFFF; }

.tablesorter.jfpw-lightgrid thead tr .headerSortDown { background: url("/JFP/images/widgets/jfpw-lightgrid-desc.gif") no-repeat center right #FFFFFF; }

