.cM-progressbar {

	float: left;

	margin: 23px 0 17px;

	overflow: auto;

	width: 984px;

}

.cM-progressbar > ul, .cM-progressbar > ol {

	color: #999;

	float: left;

	font-family: Arial, sans-serif;

	font-size: 13px;

	font-weight: bold;

    list-style-type: none;

	margin: 0;

	padding-left: 29px;

	padding-right: 29px;

	width: 926px;

}

.cM-progressbar > ul > li {

	float: left;

	padding-right: 4px;

	position: relative;

	width: 922px;

}

.cM-progressbar.cM-progressbar-cols-2 > ul > li {

	width: 459px;

}

.cM-progressbar.cM-progressbar-cols-3 > ul > li {

	width: 	304px;

}

.cM-progressbar.cM-progressbar-cols-4 > ul > li {

	width: 227px;

}

.cM-progressbar.cM-progressbar-cols-5 > ul > li {

	width: 181px;

}

.cM-progressbar.cM-progressbar-cols-6 > ul > li {

	width: 150px;

}

.cM-progressbar.cM-progressbar-cols-7 > ul > li {

	width: 128px;

}

.cM-progressbar.cM-progressbar-cols-8 > ul > li {

	width: 111px;

}

.cM-progressbar.cM-progressbar-cols-9 > ul > li {

	width: 98px;

}

.cM-progressbar.cM-progressbar-cols-10 > ul > li {

	width: 88px;

}

.cM-progressbar li.cM-progressbar-active {

	color: #00589D;

}

.cM-progressbar > ul > li > .cM-progressbar-itemcontainer {

	padding-left: 18px;

	position: relative;

}

.cM-progressbar > ul > li > .cM-progressbar-itemcontainer > .cM-progressbar-itemnumber {

	/*padding-right: 11px;*/

	position: absolute;

	left: 0;

	top: 0;

}

.cM-progressbar > ul > li > .cM-progressbar-itemcontainer > .cM-progressbar-text {

}

.cM-progressbar > ul > li > .cM-progressbar-itemcontainer > .cM-progressbar-text a {

	color: #999;

	cursor: default;

	text-decoration: none;

}

.cM-progressbar > ul > .cM-progressbar-active > .cM-progressbar-itemcontainer > .cM-progressbar-itemnumber a,

.cM-progressbar > ul > .cM-progressbar-active > .cM-progressbar-itemcontainer > .cM-progressbar-text a {

	color: #00589D;

	cursor: pointer;

}

.cM-progressbar .cM-progressbar-underline {

	background-color: #999;

	display: block;

	height: 4px;

	margin-top: 9px;

	margin-bottom: 4px;

	overflow: visible;

	position: relative;

	width: 100%;

}

.cM-progressbar .cM-progressbar-active > .cM-progressbar-underline {

	background-color: #00589D;

}

.cM-progressbar .cM-progressbar-partial > .cM-progressbar-underline {

	background-color: #999;

}

.cM-progressbar .cM-progressbar-underline > span {

	background-color: #999;

	display: block;

	height: 12px;

	position: absolute;

	top: -4px;

	width: 1px;

}

.cM-progressbar .cM-progressbar-active > .cM-progressbar-underline > span {

	background-color: #00589D;

}

.cM-progressbar .cM-progressbar-active .cM-progressbar-underline > .cM-progressbar-underline-partial {

	background-color: #00589D;

	height: 4px;

	width: 50%;

}



.cM-progressbar > ul > li > ul {

	display: none;

	float: left;

	list-style: none;

	padding: 11px 0 0;

	width: 926px;

}

.cM-progressbar > ul > li > .cM-progressbar-active {

	color: #00589D;

	display: block;

}

.cM-progressbar > ul > li > .cM-progressbar-current {

	color: #333;

	display: block;

}

.cM-progressbar > ul > li > ul > li {

	color: #999;

	float: left;

	font-size: 12px;

	font-weight: normal;

	padding-left: 30px;

}

.cM-progressbar > ul > li > ul > li:first-child {

	padding-left: 0;

}

.cM-progressbar > ul > li > ul > .cM-progressbar-active > a {

	color: #00589D;

	cursor: pointer;

	text-decoration: none;

}

.cM-progressbar > ul > li > ul > .cM-progressbar-current {

	color: #333;

	cursor: pointer;

	text-decoration: none;

}

.cM-progressbar > ul > li > ul > .cM-progressbar-current > a {

	color: #333;

	cursor: pointer;

	text-decoration: none;

}

.cM-progressbar > ul > li > ul > li > a {

	color: #999;

	cursor: default;

	text-decoration: none;

}

.cM-progressbar-pointer{

	cursor: pointer;

}