

div#left-panel {

	width: 557px ! important;

}



div#bottom-right-panel {

	top:228px ! important;

}



table div#account-display-container {

	width: 525px;

}



div div#recentTransactions {

	width: 450px;

}



div.contact-us img {

	width: 484px;

}